/* Coolors Exported Palette - https://coolors.co/837265-131216-020304-020812-132e48-4a87c0-497fbb-bf1117-b8cce7-d3e3f2 */

/* CSS HEX */
--cinereous: #837265ff;
--night: #131216ff;
--black: #020304ff;
--rich-black: #020812ff;
--prussian-blue: #132E48ff;
--steel-blue: #4A87C0ff;
--steel-blue-2: #497FBBff;
--cornell-red: #BF1117ff;
--powder-blue: #B8CCE7ff;
--columbia-blue: #D3E3F2ff;

/* CSS HSL */
--cinereous: hsla(26, 13%, 45%, 1);
--night: hsla(255, 10%, 8%, 1);
--black: hsla(210, 33%, 1%, 1);
--rich-black: hsla(218, 80%, 4%, 1);
--prussian-blue: hsla(209, 58%, 18%, 1);
--steel-blue: hsla(209, 48%, 52%, 1);
--steel-blue-2: hsla(212, 46%, 51%, 1);
--cornell-red: hsla(358, 84%, 41%, 1);
--powder-blue: hsla(214, 49%, 81%, 1);
--columbia-blue: hsla(209, 54%, 89%, 1);

/* SCSS HEX */
$cinereous: #837265ff;
$night: #131216ff;
$black: #020304ff;
$rich-black: #020812ff;
$prussian-blue: #132E48ff;
$steel-blue: #4A87C0ff;
$steel-blue-2: #497FBBff;
$cornell-red: #BF1117ff;
$powder-blue: #B8CCE7ff;
$columbia-blue: #D3E3F2ff;

/* SCSS HSL */
$cinereous: hsla(26, 13%, 45%, 1);
$night: hsla(255, 10%, 8%, 1);
$black: hsla(210, 33%, 1%, 1);
$rich-black: hsla(218, 80%, 4%, 1);
$prussian-blue: hsla(209, 58%, 18%, 1);
$steel-blue: hsla(209, 48%, 52%, 1);
$steel-blue-2: hsla(212, 46%, 51%, 1);
$cornell-red: hsla(358, 84%, 41%, 1);
$powder-blue: hsla(214, 49%, 81%, 1);
$columbia-blue: hsla(209, 54%, 89%, 1);

/* SCSS RGB */
$cinereous: rgba(131, 114, 101, 1);
$night: rgba(19, 18, 22, 1);
$black: rgba(2, 3, 4, 1);
$rich-black: rgba(2, 8, 18, 1);
$prussian-blue: rgba(19, 46, 72, 1);
$steel-blue: rgba(74, 135, 192, 1);
$steel-blue-2: rgba(73, 127, 187, 1);
$cornell-red: rgba(191, 17, 23, 1);
$powder-blue: rgba(184, 204, 231, 1);
$columbia-blue: rgba(211, 227, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-right: linear-gradient(90deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-bottom: linear-gradient(180deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-left: linear-gradient(270deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-top-right: linear-gradient(45deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-bottom-right: linear-gradient(135deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-top-left: linear-gradient(225deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-bottom-left: linear-gradient(315deg, #837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);
$gradient-radial: radial-gradient(#837265ff, #131216ff, #020304ff, #020812ff, #132E48ff, #4A87C0ff, #497FBBff, #BF1117ff, #B8CCE7ff, #D3E3F2ff);